* {
  margin: 0;
}

body {
  font-family: "Avenir Next";
}

h2 {
  border-bottom: solid 1px #aaa;
  position: relative;
  font-family: Meiryo;
  font-weight: 400;
  padding: 13px 0px;
}

h2::after {
  content: "";
  display: block;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 20%;
  border-bottom: 1px solid #00ffaa;
}

header {
  height: 98px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.header {
  width: 1347px;
  height: 98px;
  margin: 0 auto;
}

li {
  list-style: none;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */

.header-logo img {
  width: 52px;
  float: left;
  margin: 30px 110px 10px;
}

.header-list {
  float: right;
  text-align: center;
  margin: 31px 106px;
  font-size: 14px;
  color: #555;
}

.header-list ul li {
  display: inline;
  margin: 12.6px;
}
.mainImg {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  height: auto;
}

/*flexがいまいちわかってないので調べよう8月28日*/
.mainColumn {
  width: 48em;
  background-color: chocolate;
  margin-top: 60px;
}

.news-header {
  background-color: burlywood;
}

.news-content {
  margin: 20px -39px;
  font-family: monospace;
  font-size: 16px;
  width: 95%;
}

.news-content li {
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  margin-bottom: -1px;
  padding: 5px 0px;
  font-style: italic;
}

.news-content span::before {
  font-size: 24px;
  color: #aaa;
  content: "|";
  font-style: initial;
}

.mainColumn img {
  margin: 20px 0;
  max-width: 100%;
}

.subColumn {
  flex: 0 0 17em;
  background-color: crimson;
  margin-top: 60px;
  margin-left: 7em;
}

footer {
  background-color: #ceccf3;
  height: 270px;
}

.footer-list {
  float: right;
}

footer li {
  padding-bottom: 20px;
}