body {
  font-family: "Avenir Next";
}

header {
  height: 90px;
}

li {
  list-style: none;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo img {
  width: 120px;
  float: left;
}

.header-sentence {
  padding: 10px;
  font-size: 40px;
  font-family: serif;
}
.main {
  background-color: #bdf7f1;
  height: 600px;
}

.main {
  text-align: center;
}

footer {
  background-color: #ceccf3;
  height: 270px;
}

.footer-list {
  float: right;
}

footer li {
  padding-bottom: 20px;
}
