*{
  margin: 0;
}

body {
  font-family: "Avenir Next";
}

header {
  height: 90px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
  position: relative;
}

li {
  list-style: none;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo img {
  width: 45px;
  float: left;
  margin: 25px;
}

.header-list {
  float: right;
  text-align: center;
  margin: 32px;
  font-size: 16px;
  font-family: serif;
}

.header-list ul li{
  display: inline;
  margin: 10px;
}
.main {
  background-color: #bdf7f1;
  height: 600px;
  text-align: center;
}

.main img{
  width: 100%;
}

footer {
  background-color: #ceccf3;
  height: 270px;
}

.footer-list {
  float: right;
}

footer li {
  padding-bottom: 20px;
}
